<template>
  <div>
    <Navbar />
    <div class="add-subject">
      <div class="container">
        <div class="card-cont">
         <div class="card-header">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-6">
                <h3>نُظم التعليم</h3>
              </div>
              <div class="col-md-6 col-sm-6 col-6" style="text-align:left">
                <button>إضافة نظام</button>
              </div>
            </div>
         </div>
         <div class="cards-container" >
            <div class="row" style="width: 100%;margin: auto;">
              <div class="col-md-3" v-for="(item, index) in systems" :key="index">
                 <div class="item product-card">
              <nuxt-link :to="'/systems/' + item.id + '/levels'">
                <CardItem :item="item" />
              </nuxt-link>
              <div class="pro-btns" slot="action-buttons">
                  <button @click="updateItem(item)">
                  <i class="fas fa-edit"></i> تعديل
                </button>
                <button>
                  <i class="fas fa-trash-alt"></i>
                  حذف
                </button>
              
              </div>
            </div>
              </div>
          </div>
         </div>
        </div>


       

    
      </div>
    </div>
    <vs-popup class="" title="تعديل نظام التعليم" :active.sync="showEditModal">
      <div class="add-subject">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="form-groub">
                <h6>
                  الإسم باللغة العربية
                </h6>
                <input
                  type="text"
                  v-model="form.nameAr"
                  class="form-control"
                  placeholder=""
                />
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-groub">
                <h6>الإسم باللغة الإنجليزية</h6>
                <input
                  type="text"
                  v-model="form.nameEn"
                  class="form-control"
                  placeholder=""
                />
              </div>
            </div>
            <div class="col-md-4">
              <input
                type="button"
                @click="update"
                value=" تعديل البيانات"
                class="basth-btn-primary"
              />
            </div>
          </div>
        </div>
      </div>
    </vs-popup>

    <card />
    <Footer />
  </div>
</template>

<script>
import Navbar from "../../components/Navbar";
import CardItem from "../../components/CardItem";
import card from "../../components/card";


export default {
  components: {
    Navbar,
    CardItem,
    card
  },
  data() {
    return {
      systems: null,
      showEditModal: false,
      form: {
        id: "",
        nameAr: "",
        nameEn: ""
      }
    };
  },
  created() {
    this.getSystems();
  },
  methods: {
    getSystems() {
      this.$axios
        .get(`systems`)
        .then(res => {
          this.systems = res.data;
        })
        .catch(err => {
          console.log(err);
        });
    },
    updateItem(item) {
      this.form.id = item.id;
      this.form.nameAr = item.nameAr;
      this.form.nameEn = item.nameEn;
      this.showEditModal = true;
    },
    update() {
      this.$axios
        .put(`systems/${this.form.id}`, this.form)
        .then(res => {
          this.getSystems();
          this.showEditModal = false;
          this.$snotify.success(`تم تعديل البيانات بنجاح`);

          // this.systems = res.data;
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>
