<template>
  <div class="check-box-ques">
                <h6> <section>
                      <div>
                           <input type="file">
                       <i class="far fa-file-image"></i>
                      </div>
                   </section> <slot name="head-complete-questions"></slot> </h6>

                  <div class="ques-answer-btns">
                    <div class="row">
                     <slot name="btns-choose-complete"></slot>

                    </div>
                  </div>



              </div>
</template>

<script>
export default {
    data(){
        return {
            selectedValue: '',
            selectedClass: false
        }
    },
    methods:{
        selected: function(e){
            this.selectedValue = e.target.value;
            this.selectedClass = !this.selectedClass
             e.target.classList.toggle('selected')
            if(this.selectedClass == false){
                e.target.classList.add('selected')
            }else{
                e.target.classList.remove('selected')
            }
        }
    }
}
</script>

<style lang="scss" scoped>
.ques-answer-btns{
    input{
            background: #FFF;
    border: 0;
    box-shadow: 0px 0px 10px 1px #DDD;
    border-radius: 10px;
    font-family: "CustomFontRegular";
    font-weight: bold;
    color: #333;
    font-size: 16px;
    }
}
.selected{
    background: #333 !important;
}


</style>

