<template>
  <div class="check-box-ques">
    <h6 v-text="head"></h6>

    <div class="form-groub">
      <section>
        <div>
          <input type="file" />
          <i class="far fa-file-image"></i>
        </div>
      </section>
      <input style="width:100%;padding: 18px;" type="text" placeholder="ادخل السؤال هنا" />
    </div>

    <div class="form-group">
      <textarea
        placeholder="أدخل الاجابة هنا"
        class="form-control"
        id
        cols="30"
        rows="10"
        style="resize:none"
      ></textarea>
    </div>
  </div>
</template>

<script>
export default {
  props: ["head"]
};
</script>

<style scoped lang="scss">
.check-box-ques {
  .form-groub {
    position: relative;
    clear: both;
    input[type="text"] {
      width: 100%;
      padding: 18px;
      margin-bottom: 10px;
      background: #fff;
      border: 0;
      box-shadow: 0px 0px 10px 1px #ddd;
      border-radius: 10px;
      font-family: "CustomFontRegular";
      color: #333;
      font-size: 16px;
    }
    section {
      position: absolute;
      left: 0;
      padding: 0;
      box-shadow: none;
      div {
        position: relative;
        input[type="file"] {
          opacity: 0;
          height: 58px;
          cursor: pointer;
          position: relative;
          width: 54px;
          z-index: 3;
        }
        i {
          cursor: pointer;
          position: absolute;
          top: 19px;
          right: le;
          left: 15px;
          font-size: 24px;
          color: #058ac6;
        }
      }
    }
  }
  textarea {
    resize: none;
    background: #fff;
    border: 0;
    box-shadow: 0px 0px 10px 1px #ddd;
    border-radius: 10px;
    font-family: "CustomFontRegular";
    color: #333;
    font-size: 16px;
    margin-top: 11px;
  }
}
</style>

