<template>
  <div>
    <div class="add-subject">
      <div class="container">
        <div class="card-cont">
          <div class="card-header">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-6">
                <h3>الفيديوهات والملفات</h3>
              </div>
              <div class="col-md-6 col-sm-6 col-6" style="text-align:left">
                <button @click="addVideo">
                  <i class="fab text-danger fa-youtube"></i> إضافة فيديو
                </button>
                <button @click="addPdf">
                  <i class="fas text-danger fa-file-pdf"></i>
                  إضافة ملف
                </button>
              </div>
            </div>
          </div>
          <div class="material">
            <div class="container">
              <div class="material-tabs">
                <vs-tabs alignment="left" color="primary">
                  <vs-tab label="الفديوهات">
                    <div class="row" >
                      <div
                        class="col-md-6"
                         
                      >
                        <VideoCard
                          embed="https://www.youtube.com/embed/CQyMq34s93E"
                          title="شرح مادة الرياضايات"
                          duration="202"
                        >
                             <button @click="updateItem(video)"  slot="video-edit-button">
                            <i class="fas fa-edit"></i> تعديل
                          </button>

                            <button @click="deleteItem(video)" slot="video-delete-button">
                            <i class="fas fa-trash-alt"></i>
                            حذف
                          </button>
                        </VideoCard>
                       
                        <!--<div class="pro-btns" slot="action-buttons">
                          <button @click="updateItem(video)">
                            <i class="fas fa-edit"></i> تعديل
                          </button>
                          <button @click="deleteItem(video)">
                            <i class="fas fa-trash-alt"></i>
                            حذف
                          </button>
                        </div>-->
                      </div>
                    </div>
                  </vs-tab>
                  <vs-tab label="الملفات">
                    <div class="row">
                      <FilePdf
                        
                        title="hello"
                        link="this is pdf"
                      >
                       <div class="pdf-icon" slot="overlay-pdf-slot">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <a :href="link" target="_blank">
                                 <button @click="updateItem(video)"  slot="video-edit-button">
                            <i class="fas fa-edit"></i> تعديل
                          </button>

                            <button @click="deleteItem(video)" slot="video-delete-button">
                            <i class="fas fa-trash-alt"></i>
                            حذف
                          </button>
                        </a>
                        </div>
                      </FilePdf>
                    </div>
                  </vs-tab>
                </vs-tabs>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Video -->
    <vs-popup class :title="title" :active.sync="showVideoModal">
      <div class="add-subject">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="form-groub">
                <h6>لينك الفيديو</h6>
                <input
                  type="text"
                  v-model="videoForm.video"
                  class="form-control"
                  placeholder
                />
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-groub">
                <h6>عنوان الفيديو</h6>
                <input
                  type="text"
                  v-model="videoForm.title"
                  class="form-control"
                  placeholder
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-groub">
                <h6>مدة الفيديو</h6>
                <input
                  type="text"
                  v-model="videoForm.duration"
                  class="form-control"
                  placeholder
                />
              </div>
            </div>

            <div class="col-md-4">
              <input
                v-if="edited"
                type="button"
                @click="updateVideo"
                value=" تعديل البيانات"
                class="basth-btn-primary"
              />
              <input
                v-else
                type="button"
                @click="addNewVideo"
                value="  إضافة المادة "
                class="basth-btn-primary"
              />
            </div>
          </div>
        </div>
      </div>
    </vs-popup>
    <!-- End Add Video -->
  </div>
</template>

<script>
import VideoCard from "../components/material/video";
import FilePdf from "../components/material/FilePdf";

export default {
  components: {
    VideoCard,
    FilePdf
  },
  data() {
    return {
      videos: null,
      pdfs: null,
      title: "",

      edited: false,
      showVideoModal: false,
      videoForm: {
        id: "",
        title: "",
        duration: "",
        video: ""
      }
    };
  },
  created() {
    this.getVideos();
    this.getPdfs();
  },
  methods: {
    addVideo() {
      this.title = " إضافة فيديو   ";
      this.edited = false;
      this.videoForm.id = "";
      this.videoForm.video = "";
      this.videoForm.title = "";
      this.videoForm.duration = "";
      this.showVideoModal = true;
    },
    addPdf() {},
    getVideos() {
      this.$axios
        .get(`lessons/${this.$route.params.id}/videos`)
        .then(res => {
          //   this.videos = res.data.materials;
          this.videos = res.data.materials;
          this.videos.map(function(value, key) {
            value["embed"] = value["link"].replace("watch?v=", "embed/");
            // let link = video["link"];
            // if (link.includes(".be")) {
            //   // https://youtu.be/jGVFiCf9bm4
            //   video["embed"] = link.replace(".be", "be.com/embed");
            // } else if (link.includes("watch?v=")) {
            //   // https://www.youtube.com/watch?v=jGVFiCf9bm4
            //   video["embed"] = link.replace("watch?v=", "embed/");
            // }
          });
        })
        .catch(err => {
          console.log(err);
        });
    },
    getPdfs() {
      this.$axios
        .get(`lessons/${this.$route.params.id}/pdf`)
        .then(res => {
          //   this.videos = res.data.materials;
          this.pdfs = res.data.materials;
        })
        .catch(err => {
          console.log(err);
        });
    },
    updateItem(item) {
      this.title = "تعديل الدرس ";
      this.form.id = item.id;
      this.form.nameAr = item.nameAr;
      this.form.nameEn = item.nameEn;
      this.edited = true;
      this.showModal = true;
    },

    updateVideo() {
      this.$axios
        .put(`videos/${this.form.id}`, this.form)
        .then(res => {
          this.getVideos();
          this.showVideoModal = false;
          this.$snotify.success(`تم تعديل البيانات بنجاح`);
        })
        .catch(err => {
          console.log(err);
        });
    },
    addNewVideo() {
      this.$axios
        .post(`lessons/${this.$route.params.id}/videos`, this.videoForm)
        .then(res => {
          this.getVideos();
          this.showVideoModal = false;
          this.$snotify.success(`تم إضافة الفيديو  بنجاح`);
        })
        .catch(err => {
          console.log(err);
        });
    },
    deleteItem(item) {
      this.$snotify.confirm("هل تريد حذف  الدرس  المُحدد ", " هل أنت متأكد", {
        showProgressBar: true,
        closeOnClick: true,
        pauseOnHover: true,
        buttons: [
          {
            text: "موافق",
            action: toast => {
              this.$snotify.remove(toast.id);
              this.$axios
                .delete(`lessons/${item.id}`)
                .then(res => {
                  this.getVideos();
                  this.$snotify.success(" تم الحذف بنجاح");
                })
                .catch(err => {
                  this.$snotify.error("للاسف حصل خطأ ما  ");
                });
            }
          },
          {
            text: "إلغاء",
            action: toast => {
              this.$snotify.remove(toast.id);
            }
          }
        ]
      });
    }
  }
};
</script>

<style lang="scss">
.material {
  .vs-tabs--li {
    button.vs-tabs--btn {
      outline: none !important;
    }
  }
  .material-tabs {
    margin-top: 10px;
  }
}
</style>